pkgbase = remark-lint
	pkgdesc = Command line interface for remark, a markdown processor powered by plugins.
	pkgver = 9.1.1
	pkgrel = 1
	url = https://github.com/remarkjs/remark-lint
	arch = any
	license = MIT
	makedepends = jq
	makedepends = npm
	depends = nodejs
	noextract = remark-lint-9.1.1.tgz
	source = https://registry.npmjs.org/remark-lint/-/remark-lint-9.1.1.tgz
	sha512sums = ce17bab70baa824c7ff4a819c8dc9a3b471c780e2342e25ccb330e042f8966203330dea615499cb2c599c98df4928f2eb7dbd00cc5ffa72427a251a7f8583f4f

pkgname = remark-lint
